.vscode/
.cursor/

**/__pycache__/

result_logs/
results/
LOGS/
batch_tasks_results/

data/*
!data/example/
!data/example/example_130.json
!data/example/mind2web-live_test_20241024.json
!data/human_labeled_reward_reference/*
!data/dataset_io.py
!data/raw_data_processor.py
!data/Online-Mind2Web/
!configs/log_config.json
**/*.json

test.py
test_dom_tree.py

agent/Environment/html_env/js_event/

node_modules/
package-lock.json
package.json

results_wodom/
results_wodom33/
scripts/
eval_agent/
dataset/
dataset_4o/
results*

run.sh
run_evaluate.sh
process_raw.sh
load_from_platform.sh

